* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#s1 {
    height: 80px;
    background-color: ghostwhite;
    border-bottom: 1px solid black;
}
.container {
    width: 1024px;
    height: 100%;
    margin: auto;
    position: relative;
}
header > * {
    line-height: 80px;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.left-content {
    float: left;
}
/* mappamondo */
#lang-sel {
    border: none;
    background-color: ghostwhite;
}
.vertical-rule {
    border-right: 1px solid black;
    margin: 0 30px 0 20px;
}
.left-content > a {
    text-decoration: none;
    color: black;
}
.right-content {
    float: right;
}
.right-content > * {
    margin-left: 20px;
}
/* lente di ingrandimento */
.button {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.b1 {
    color: coral;
    border: 1px solid coral;
}
.b2 {
    color: white;
    background-color: coral;
}
#s2 {
    height: 80px;
}
/* logo */
nav ul {
    float: right;
}
nav li {
    display: inline-block;
    margin-left: 20px;
    line-height: 80px;
}
.nav-sel {
    border: none;
}
nav a {
    text-decoration: none;
    color: black;
}
#s3 {
    height: 500px;
    /* da fixare */
    background-color: seashell;
    /* background-image: url(); */
}
.banner-text {
    width: 512px;
    padding-top: 50px;
}
#s3 h1 {
    font-size: 50px;
}
#s3 p {
    margin: 30px 0;
}
#s3 a {
    display: inline-block;
}
.small {
    font-size: small;
}
#trim {
    height: 100px;
    background-color: paleturquoise;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#s4 {
    background-color: ghostwhite;
    height: 1000px;
}
.banner-head {
    text-align: center;
    width: 800px;
    margin: auto;
}
/* immagine */
.banner-head p {
    margin: 20px 0;
}
.bubble {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.banner-main::after {
    content: '';
    display: table;
    clear: both;
}
.banner-main > * {
    float: left;
}
.banner-left {
    width: 30%;
}
.banner-right {
    width: 70%;
}