* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#s1 {
    height: 80px;
    background-color: lightblue;
    border-bottom: 1px solid black;
}
.container {
    width: 1024px;
    height: 100%;
    margin: auto;
    position: relative;
}

#s2 {
    height: 80px;
}